body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3';
    background-color: dimgray;
    height: 100vh;
}

#cont {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    width: 30%;
    margin: auto;
}

header {
    display: flex;
    gap: 1rem;
    align-items: center;
}

header h1 {
    color: red;
    font-size: 6rem;
    margin: 0;
}

header h1 span {
    color: white;
}

main h2 {
    text-align: center;
}

main #btn {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

main #btn button {
    width: 30%;
    height: 2rem;
    border-radius: 10px;
    border: none;
    background-color: greenyellow;
    color: black;
}

main #btn #new {
    background-color: orangered;
}

main #btn #result {
    background-color: royalblue;
}

main p {
    text-align: center;
    font-size: 1rem;
}

#rbut {
    text-align: center;
    margin-top: 1rem;
}

#rbut button {
    width: 30%;
    height: 2rem;
    border-radius: 10px;
    border: none;
    background-color: grey;
    color: black;
}
@media(max-width:600px) {
    #cont {
        width: 80%;
    }
    header h1 {
        font-size: 3rem;
    }
    header img {
        width: 70%;
    }
}
